Source: docopt
Maintainer: devbliss GmbH <info@devbliss.com>
Section: python
Priority: optional
Build-Depends: python3 (>= 3.2.3), python3-setuptools, debhelper (>= 9)
Standards-Version: 3.9.3

Package: python3-docopt
Architecture: all
Depends: python3 (>= 3.2.3),
         ${misc:Depends},
         ${python:Depends}
Description: Pythonic command line arguments parser, that will make you smile
 Isn't it awesome how optparse and argparse generate help
 messages based on your code?!
 .
 Hell no! You know what's awesome? It's when the option parser
 is generated based on the beautiful help message that you write
 yourself! This way you don't need to write this stupid
 repeatable parser-code, and instead can write only the help
 message--the way you want it.
 .
 docopt helps you create most beautiful command-line interfaces easily.
